/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./home.min.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  margin-bottom: 45px;
}

.header img {
  float: right;
  margin-left: 10px;
}

.nav {
  margin-top: 33px;
}

.nav__container img {
  margin-top: 33px;
}
.nav__container img:hover {
  transform: rotate(15deg);
}

.main {
  margin-top: 34px;
  margin-bottom: 58px;
}

.main__container h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #21243d;
  margin-bottom: 21px;
}

.main__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: #21243d;
}

.main__container button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background-color: rgba(255, 100, 100, 1);
  border: none;
  margin-top: 27px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  color: rgba(255, 255, 255, 1);
}

.article {
  margin-top: 59px;
  background-color: rgba(237, 247, 250, 1);
}

.article__container a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: rgba(33, 36, 61, 1);
}

.article-div {
  margin-top: 11px;
  margin-bottom: 17px;
  background-color: rgba(255, 255, 255, 1);
}

.article-div h2 {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 12px;
}

.article-div h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 19px;
}

.article-div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: rgba(33, 36, 61, 1);
}

.article-two-div {
  background-color: rgba(255, 255, 255, 1);
}

.article-two-div h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 12px;
}

.article-two-div h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 19px;
}

.article-two-div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 19px;
}

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: rgba(33, 36, 61, 1);
  display: block;
  text-align: center;
}

.section__container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(33, 36, 61, 1);
  margin-bottom: 16px;
}
.section__container img:hover {
  transform: rotate(5deg);
}

.section__container button {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  background-color: rgba(20, 40, 80, 1);
  color: rgba(255, 255, 255, 1);
}

.section__container p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}
.footer {
  margin-top: 201px;
  margin-bottom: 26px;
  gap: 35px;
}
.footer__container img:hover{
  transform: rotate(10deg);
}
.fotter-div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.56px;
  text-align: center;
  color: rgba(33, 36, 61, 1);
  margin-top: 26px;
}
